
body{
background-color: #ff9933;
}
h1{
text-align: center; 
background-color: powderblue;
}

h2{
text-align: center; 
background-color: powderblue;
}
#head1{
text-align: left;

background-color: #ff9933;
}
th{
text-align: center;
}
td
{
text-align: center;}